<div class="row">
  <div class="card-body shadow d-flex">
    <div class="col-md-4">
      <img class="img-responsive center-block" src="{{user.image}}" style="width: 100%;" alt="{{user.name}}'s image">
    </div>

    <div class="col-md-8">
      <h1>{{user.name}}</h1>
      <p>{{user.email}}</p>
      <p class="card-text">{{totalComment}} 已評論餐廳</p>

      {{#if isUser}}
      <a href='/users/{{user.id}}/edit'>
        <button type="button" class="btn btn-primary">Edit</button>
      </a>
      {{/if}}

    </div>
  </div>
</div>

<div class="card" style="max-width: 1024px;">
  <div class="card-header">
    {{totalComment}} 已評論餐廳
  </div>

  <div class="container m-3">
    <div class="row">
      {{#each restaurants}}
      <div class="col-sm-2">
        <a href='/restaurants/{{this.restaurantId}}'>
          <img src="{{this.restaurantImage}}" class="img-fluid rounded-start" alt="{{this.restaurantImage}}'s image">
        </a>
      </div>
      {{/each}}
    </div>
  </div>